_BASE_: ../oneformer_R50_bs16_50ep.yaml
MODEL:
  BACKBONE:
    NAME: "D2InternImage"
  SEM_SEG_HEAD:
    NAME: "OneFormerHead"
    CONVS_DIM: 1024
    MASK_DIM: 1024
  INTERNIMAGE:
    CHANNELS: 320
    DEPTHS: [6, 6, 32, 6]
    GROUPS: [10, 20, 40, 80]
    WITH_CP: True
    MLP_RATIO: 4.0
    DW_KERNEL_SIZE: 5
    LEVEL2_POST_NORM_BLOCK_IDS: [5, 11, 17, 23, 29]
  WEIGHTS: "internimage_h_jointto22k_384.pkl"
  PIXEL_MEAN: [123.675, 116.280, 103.530]
  PIXEL_STD: [58.395, 57.120, 57.375]
  ONE_FORMER:
    HIDDEN_DIM: 1024
    NUM_OBJECT_QUERIES: 250
    NHEADS: 32
    DIM_FEEDFORWARD: 4096
  TEXT_ENCODER:
    WIDTH: 1024
    CONTEXT_LENGTH: 77
    N_CTX: 16
SOLVER:
  IMS_PER_BATCH: 16
  BASE_LR: 0.00002
  STEPS: (655556, 735184)
  MAX_ITER: 737500
  AMP:
    ENABLED: False
TEST:
  DETECTIONS_PER_IMAGE: 250
